<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/Jankenpon/stylesheets/main.css">
		</head>
		<body>
			<nav>
			<img id="banner" src="/Jankenpon/assets/images/japan_header.png" alt="This should be a stylized japan flag" width=50% align=left>
	    		<ul>
	        		<li><a href="/Jankenpon">Home</a></li>
	        		<li><a href="/Jankenpon/blog">Articles</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
				

			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:kevin.bulme@gmail.com">email</a></li>
				</ul>
			</footer>
		</body>
	</html>
